<html lang = 'en' dir = 'ltr'>
  <head>
    <meta charset = 'utf-8'>
    <title> Welcome! </title>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Mission </h1>
    <p> Bikeshare has been increasingly popular throughout United States in the recent years.
    Companies have generously shared their data online for researchers and analysts to help understand
  the demand of the program whether it positively decrease traffic congestion and contribute to consumer needs to have
a reliable transportation that has a lower impact on polluting the environment. I hope to study the effects of the bikeshare on how it
changes mobility of people in the environment and the purpose behind why people are using bikeshare. </p>

   <div id = 'mainpagefront'>
    <img id = 'mainpagefrontimage' src = 'http://media.oregonlive.com/commuting/photo/bikeshare-dcjpgjpg-e615122ff992151e.jpg'>

    </div>
    {% endblock %}
  </body>

</html>
