<html lang = 'en' dir = 'ltr'>
  <head>
      <meta charset = "utf-8">
      <title> TEMPLATE </title>
      <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'css/template.css') }}">

  </head>

  <body>
      <header>
        <div class = 'container'>
          <h1 class = 'logo'> Bikeshare Trips </h1>
          <strong><nav>
            <!-- <h1> Table of Contents </h1> -->
            <div class = "menu">
              <ul>
                <li class = 'active'> <a href = "{{ url_for('home')}}"> Home </a> </li>
                <li class = 'active'> <a href = "{{ url_for('map')}}"> Maps </a> </li>
                <!-- <li class = 'active'> <a href = "{{ url_for('chart')}}"> Charts </a> </li> -->
              </ul>
            </div>
          </nav></strong>
        </div>
      </header>

      {% block content %}
      {% endblock %}

  </body>





</html>
